.card{
    border: 0px;
}
.my-portfolio-about {
    padding-left: 5px;
    font-size: 14px;
}

.blue {
    border-left: 4px solid rgb(32,85,164);
}

.red {
    border-left: 4px solid rgb(227,30,37);
}

.green {
    border-left: 4px solid rgb(54,159,71);
}

.orange {
    border-left: 4px solid rgb(251, 158, 88);
}

.light-green {
    border-left: 4px solid rgb(189,226, 186);
}

.my-portfolio-text{
    font-size: 10px;
}

.my-portfolio-sub-text {
    font-size: 12px;
}

.my-portfolio-sub-paragraph {
    font-size: 10px;
}

.my-portfolio-sub-card {
    padding-left: 4px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
    border-radius: 0px;
}

.sub-blue {
    border-left: 2px dashed rgb(167,188,217);
}

.sub-red {
    border-left: 2px dashed rgb(243,167,171);
}

.sub-green {
    border-left: 2px dashed rgb(177,216,183);
}

.sub-orange {
    border-left: 2px dashed rgb(251, 158, 88);
}

.sub-light-green {
    border-left: 2px dashed rgb(189,226, 186);
}

.my-portfolio-awards{
    min-height: 49px;
}

.my-portfolio-award-title {
    padding-top:4px;
    margin-bottom: 4px !;
}

