<div class="row">
    <div class="col-md-12 text centre">

        <div class="card">
            <div class="card-body">
                <h6 class="card-title"> About Me</h6>
                <h6 class="my-portfolio-about">
                    Mission driven Full Stack Developer with a passion for making difference.
                </h6>
                <p class="card-text my-portfolio-text">Experienced Full Stack developer who wants to make his career on
                    the development of both of client side and
                    server side applications. As a part of my job I have designed and coded many enterprise level
                    solutions in
                    Java, Spring, Docker, Spring Boot, Bootstrap, CSS, JavaScript, TypeScript and Angular. Right from
                    requirement gathering to feasibility analysis and development of the solution was part of my job
                    definition. Have good hands on knowledge Financial Services domain. And well versed with SAFE Agile.
                    I am
                    looking for obtaining a full-time position in the field of information technology with an emphasis
                    on
                    technology integration, including software design and development and to work with a progressive
                    organization that gives the opportunity to utilize my skills in achieving common goals.</p>
            </div>

        </div>
    </div>

</div>
<div class="row">

    <div class="col-md-12 text centre">

        <div class="card">
            <div class="card-body">
                <h6 class="crad-title">Experience</h6>
                <h6 class="my-portfolio-about">
                    Mastercard , Deutsche Bank, Capgemini.
                </h6>
                <div class="row">
                    <div class="col-md-4 col-xs-12" *ngFor="let employer of myEmployers">
                        <div class="card my-portfolio-sub-card">
                            <div class="row">
                                <div class="col-md-1"><img src={{employer.employerLogo}} height="25px" width="25px"
                                        class="img rounded-circle pull-left" alt={{employer.employerName}}></div>
                                <div class="col-md-11">
                                    <h6 class="card-title my-portfolio-sub-text my-portfolio-award-title">
                                        {{employer.designation}}</h6>
                                </div>
                            </div>
                            <p class="card-text my-portfolio-sub-paragraph my-portfolio-award-title">
                                {{employer.employerName}}</p>
                            <p class="card-text my-portfolio-sub-paragraph">{{employer.startDate}} -
                                {{employer.endDate}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-12 text-cetre">

        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Honors & Awards</h6>
                <h6 class="my-portfolio-about">
                    <strong>4</strong> Years,<strong>{{myAwards.length}}</strong> Awards.
                </h6>
                <div class="row">
                    <div class="col-md-4 col-xs-12" *ngFor="let award of myAwards">
                        <div class="card my-portfolio-sub-card">
                            <div class="row">
                                <div class="col-md-1"><img src={{award.awardImageUrl}} height="25px" width="25px"
                                        class="img rounded-circle pull-left" alt="Not Found"
                                        (click)="onRewardClick(award)"></div>
                                <div class="col-md-11">
                                    <h6 class="card-title my-portfolio-sub-text my-portfolio-award-title">
                                        {{award.awardName}}</h6>
                                </div>
                            </div>
                            <p
                                class="card-text my-portfolio-sub-paragraph my-portfolio-awards my-portfolio-award-title">
                                {{award.awardDescription}}</p>
                            <p class="card-text my-portfolio-sub-paragraph">{{award.companyName}},{{award.awardDate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12 text-centre">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Technology Skills</h6>
                <h6 class="my-portfolio-about">
                    Starting from requirement capturing to deployment.
                </h6>
                <div class="row">
                    <div class="col-md-4 col-xs-12" *ngFor="let skill of mySkills">
                        <div class="card my-portfolio-sub-card">
                            <h6 class="card-title my-portfolio-sub-text">{{skill.skillArea}}</h6>
                            <div class="row" *ngFor="let technology of skill.technologyNames">
                                <div class="col-md-1"><img src={{technology.logo}} height="25px" width="25px"
                                        class="img rounded-circle pull-left" alt="NA"></div>
                                <div class="col-md-11">
                                    <p
                                        class="card-text my-portfolio-sub-paragraph my-portfolio-awards my-portfolio-award-title">
                                        {{technology.name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">

    <div class="col-md-12">
        <app-my-portfolio-modal [showModal]="showModal" [imgUrl]="imgUrl" [imgTitle]="imgTitle" [imgFooter]="imgFooter">
        </app-my-portfolio-modal>
    </div>
</div>