<div class="row">
    <div class="col-md-12 col-sm-12 col-12">
        <h5>
            Get in touch.
        </h5>
        <h6 [ngClass]="'border-' + themeColor">OK, Let’s Create Something Awesome. Have some interesting projects to work on, just contact me through social sites listed below.</h6>
    </div>

    <div class="col-md-4 col-sm-6 col-12" *ngFor="let contact of contactDetails">
        <div class="card" [ngClass]="'card-' + themeColor">
            <div class="card-header d-flex justify-content-center">
                <h6>{{contact.socialName}}</h6>
            </div>
            <div class="card-body">

                <i class="d-flex justify-content-center card-title fa fa-size" [ngClass]="contact.socialIcon"></i>
                <br>
                <span class="d-flex justify-content-center"> <a [href]="contact.socialLink" target="_blank">{{contact.userName}}</a></span>
            </div>
        </div>
    </div>
</div>