<div class="row">
    <div class="col-md-12">
        <span>
        <i class="fa fa-envelope" style="color:blueviolet"></i> Connect with me by dropping me email at <a href="mailto:souvik.das@live.in">Souvik.das@live.in</a>
        </span>
        <br>
        <span> <i class="fa fa-linkedin" style="color:blue"></i> LinkedIn Profile   <a href="https://www.facebook.com/sdas.rng/" target="_blank">Souvik</a></span> 
        <br>
        <span> <i class="fa fa-facebook" style="color:rgb(16, 16, 82)"></i> Facebook Profile   <a href="https://www.linkedin.com/in/souvik-das-aaa34999/" target="_blank">Souvik</a></span> 
        <br>
        <span> <i class="fa fa-twitter" style="color:skyblue"></i> Twitter Profile   <a href="https://www.linkedin.com/in/souvik-das-aaa34999/" target="_blank">Souvik</a></span> 
        <br>
        <span> <i class="fa fa-github" style="color:black"></i> GitHub Profile   <a href="https://www.linkedin.com/in/souvik-das-aaa34999/" target="_blank">Souvik</a></span> 
    </div>
</div>