<div class="row">
    <div class="col-md-12 col-12">
        <h5>
            Download Or View My CV  .
        </h5>
        <h6 [ngClass]="'border-' + themeColor">Know more about my works in details by downloading my Curriculum Vitae.
        </h6>
    </div>

    <div class="col-md-6 col-6">

        <a class="d-none d-sm-block btn btn-lg btn-size" [ngClass]="'btn-secondary-'+ themeColor" download="Souvik_Das_Full_Stack_Dev.pdf"
            target="_blank" href="./assets/Souvik_Das_Full_Stack_Dev.pdf">
            <i class="fa fa-file-pdf-o"> </i> Click here to download Pdf version of my CV.
        </a>
        <a class="d-block d-sm-none btn btn-size" [ngClass]="'btn-secondary-'+ themeColor" download="Souvik_Das_Full_Stack_Dev.pdf"
            target="_blank" href="./assets/Souvik_Das_Full_Stack_Dev.pdf">
            <i class="fa fa-file-pdf-o"> </i> PDF</a>

    </div>

    <div class="col-md-6 col-6">

        <a class="btn btn-lg btn-size d-none d-sm-block" [ngClass]="'btn-secondary-'+ themeColor" download="CV.docx"
            target="_blank" href="./assets/CV.docx">
            <i class="fa fa-file-word-o"> </i> Click here to download Word version of my CV.
        </a>
        <a class="btn btn-size d-block d-sm-none" [ngClass]="'btn-secondary-'+ themeColor" download="CV.docx"
            target="_blank" href="./assets/CV.docx">
            <i class="fa fa-file-word-o"> </i> Word
        </a>


    </div>

</div>
<div class="row extra-margin-top">
    <div class="col-md-12 col-12">
        <h6 [ngClass]="'border-' + themeColor">Scroll down to view my profile.</h6>
    </div>
</div>
<div class="row extra-margin-top">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="false" [fit-to-page]="false"
             [external-link-target]="true" [show-borders]="true" ></pdf-viewer>
    </div>
    <div class="col-md-3">

    </div>
</div>