/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

.btn-red {
  background-color: rgb(227,30,37) ;
}

.btn-blue {
  background-color: rgb(32,85,164) ;
}

.btn-green {
  background-color: rgb(54,159,71) ;
}

.btn-mix {
  background-color: rgb(251,155,81) ;
}

.btn-secondary-red {
  color: rgb(227,30,37) ;
}

.btn-secondary-blue {
  color: rgb(32,85,164) ;
}

.btn-secondary-green {
  color: rgb(54,159,71) ;
}

.btn-secondary-mix {
  color: rgb(251,155,81) ;
}

.blue {
  background-color: rgb(32,85,164);
}

.red {
  background-color: rgb(227,30,37);
}

.green {
  background-color: rgb(54,159,71);
}

.mix {
  background-color: rgb(171,205,234);
}

.text-blue {
  color: rgb(167,188,217);
}

.text-red {
  color: rgb(243,167,171);
}

.text-green {
  color: rgb(177,216,183);
}

.text-orange {
  color: rgb(251, 158, 88);
}
