<div class="row">
    <div class="col-md-6" id="mySummary">


            <div class="card text-centre" style="width: 100%;">
              
                        <img src="/assets/DP.jpg" height="600px" class="card-img-top" alt="Not Found">
                        <div class="card-body">
                                <section>
                                        <h4>Hello, I am Souvik Das.</h4>
                            
                                        <h4>I'm a Full Stack Developer</h4>
                                    </section>
                        </div>
                                  
                  </div>
                    


        
    </div>

    <div class="col-md-6">

            <div class="card text-centre" style="width: 100%;">

                    <img src="/assets/PP.jpg" height="600px" class="card-img-top" alt="Not Found">
                    <div class="card-body">
                            <section>
                                    <h4>Hello, I am Souvik Das.</h4>
                        
                                    <h4>I'm a Full Stack Developer</h4>
                                </section>
                    </div>
            </div>

    </div>

</div>