#mySummary{
    justify-content:center;
}

.my-portfolio-body {
    background-color: transparent;
}

.primary-text {
    color: black;
}

.secondary-text {
    color: rgb(32,85,164);
}

.list-style {
    list-style-type: none;
}

#mySummary{
    min-height: 100%;
}
